.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

.wrapper-mobile{
    width: 100vh;
    height: 100vh;
    background-color: #FFFFFF;
}

.fondo-desktop{
    width: 100%;
    height: 100%;
}

.style-mobile{
    rotate: 90deg;
    width: 100%!important;
    height: 100%!important;
}